Задача 44: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random

lst = ['robot'] * 10

lst += ['human'] * 10

random.shuffle(lst)

data = pd.DataFrame({'whoAmI':lst})

data.head()

In [41]:
import pandas as pd

In [50]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data

   whoAmI
0   human
1   human
2   human
3   human
4   human
5   robot
6   robot
7   robot
8   human
9   robot
10  human
11  robot
12  robot
13  human
14  robot
15  robot
16  robot
17  robot
18  human
19  human

In [53]:
data_1 = data.copy()
data_1.loc[data_1['whoAmI'] == 'human', 'human'] = 1
data_1.loc[data_1['whoAmI'] == 'robot', 'robot'] = 1
data_1.pop('whoAmI')
data_1.fillna(value = 0, inplace = True)
data_1 = data_1.astype(int)
data_1

    human  robot
0       1      0
1       1      0
2       1      0
3       1      0
4       1      0
5       0      1
6       0      1
7       0      1
8       1      0
9       0      1
10      1      0
11      0      1
12      0      1
13      1      0
14      0      1
15      0      1
16      0      1
17      0      1
18      1      0
19      1      0

In [54]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       1      0
1       1      0
2       1      0
3       1      0
4       1      0
5       0      1
6       0      1
7       0      1
8       1      0
9       0      1
10      1      0
11      0      1
12      0      1
13      1      0
14      0      1
15      0      1
16      0      1
17      0      1
18      1      0
19      1      0